 /* ships.css */
.aircraftCarrier, .cruiser, .torpedoBoat, .destroyer1, .destroyer2 {
  height: 50px;
  border-radius: 60px;
  margin: 25px;
  justify-self: start;
  background: 
      repeating-linear-gradient(
        to right,
        transparent 0px,
        transparent 48px,
        rgba(0, 0, 0, 0.3) 48px,
        rgba(0, 0, 0, 0.3) 50px
      );
}
section:nth-of-type(3) div{
  justify-self: end;
}

.aircraftCarrier {
  width: 250px;
  background-color: var(--aircraftCarrier);
  border: 1px solid var(--aircraftCarrier)
}
.cruiser {
  width: 200px;
  background-color: var(--cruiser);
  border: 1px solid var(--cruiser);
}
.destroyer1, .destroyer2 {
  width: 150px;
  background-color: var(--destroyer);
  border: 1px solid var(--destroyer);
}
.torpedoBoat {
  width: 100px;
  background-color: var(--torpedoBoat);
  border: 1px solid var(--torpedoBoat);
}

.content {
  display: flex;
  align-items: center;
}