@media (width >= 1200px) {
  /* Titles */
  h1 {
    font-size: var(--h1-desktop-size);
  }

  h2 {
    font-size: var(--h2-desktop-size);
  }

  h3 {
    font-size: var(--h3-desktop-size);
  }

  main {
    flex-direction: column;
  }

  section.ships {
    justify-content: space-evenly;
    padding: 10px;
  }

  /* ships.css */
  .aircraft-carrier,  
  .cruiser,
  .torpedo-boat,
  .destroyer1,
  .destroyer2 {
    height: 50px;
    margin: 15px;
  }

  .ship-cell {
    width: 50px;
    height: 50px;
    border: var(--shaow) 1px solid;
    background: transparent;
  }

  .aircraft-carrier {
    width: 250px;
  }

  .cruiser {
    width: 200px;
  }

  .destroyer1,
  .destroyer2 {
    width: 150px;
  }

  .torpedo-boat {
    width: 100px;
  }

  .ships-player {
    order: -1;
  }

  /* Grille en haut */
  .game-board {
    margin-top: 60px;
  }

  /* Grille */
  table {
    width: 550px;
    height: 550px;
  }

  th,
  td {
    width: 50px;
    height: 50px;
  }

  /* Modal */
  .modal-content {
    width: 1000px;
  }

  .content {
    flex-direction: row;
  }

  /* Mini-grille */
  .mini-grid {
    width: 220px;
    height: 220px;
    bottom: 80px; /* Ajuster selon la hauteur des bateaux */
  }

  .mini-grid th,
  .mini-grid td {
    width: 20px;
    height: 20px;
    font-size: 8px;
  }
}
